<!DOCTYPE html>
<html lang="en">
<head>
  <title>Offers in Progress (offer maker)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<body>
    
    
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/CRM/public/index.php/get_offers">CRM Home Page</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <form action="/CRM/public/index.php/logout" method="POST">
        <li><a href="/CRM/public/index.php/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </form>
    </ul>
  </div>
</nav>
 
    
<div class="container">
  <h2>Offers in Progress</h2>
  <p>Fill in the following fields :</p>
</div>
  <form action="/CRM/public/index.php/add_offers" method="POST">
    Customer Name:<br>
    <input type="text" name="customerName" >
    <br>
    Offer Description:<br>
    <input type="text" name="offerDescription" >
    <br><br>
    Price:<br>
    <input type="number" name="price">
    <br><br>
    <div class="navbar-header">
      <input type="submit"  value="Add Offer">
    </div>

</form> 
   


</body>
</html>

